<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.b3studios.bible"
    android:debuggable="false"
    android:versionCode="4"
    android:versionName="1.2.1" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="15" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="org.b3studios.bible.Bible"
            android:label="@string/title_activity_u_bible" >
            <meta-data
                android:name="android.app.default_searchable"
                android:value=".SearchResultsActivity" />
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="org.b3studios.bible.BookSelector"
            android:label="Select a Book" >
            <intent-filter>
                <action android:name="org.b3studios.bible.BOOKSELECTOR" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="org.b3studios.bible.ChapterSelector"
            android:label="Select a Chapter" >
            <intent-filter>
                <action android:name="org.b3studios.bible.CHAPTERSELECTOR" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="org.b3studios.bible.About"
            android:label="About" >
            <intent-filter>
                <action android:name="org.b3studios.bible.ABOUT" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings" >
            <intent-filter>
                <action android:name="org.b3studios.bible.SETTINGS" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
         <!--Search results activity -->
        <activity android:name=".SearchResultsActivity"
            android:parentActivityName="org.b3studios.bible.Bible" >
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
    </application>

</manifest>