<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.b3studios.bible"
    android:debuggable="false"
    android:versionCode="13"
    android:versionName="1.2.10" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".BookSelectorActivity"
            android:label="Select a Book" >
            <intent-filter>
                <action android:name="org.b3studios.bible.BOOKSELECTOR" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ChapterSelectorActivity"
            android:label="Select a Chapter" >
            <intent-filter>
                <action android:name="org.b3studios.bible.CHAPTERSELECTOR" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <!-- Search results activity -->
        <activity
            android:name=".search.SearchResultsActivity"
            android:parentActivityName="org.b3studios.bible.MainActivity" >
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity
            android:name="org.b3studios.bible.MainActivity"
            android:label="@string/title_activity_u_bible" >
            <meta-data
                android:name="android.app.default_searchable"
                android:value="org.b3studios.bible.search.SearchResultsActivity" />
        </activity>
        <!-- Splash screen -->
        <activity
            android:name="org.b3studios.bible.SplashScreen"
            android:label="@string/title_activity_u_bible"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>